{% extends 'app_todo/base.html' %}
{% block content %}
<div class="container"> 
{% if request.user.is_authenticated %}
<h3>Hello {{request.user |title}},</h3>

<h4>You have {{count}} incomplete tasks.</h4>
<a href="{% url 'logout' %}" style="position: relative; left: 480px;" button type="button" class="btn btn-primary">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %} 
<hr>
<a href="{% url 'task-create' %}" button type="button" class="btn btn-success">Add Task</a>
<br><br>
<table>
    
    <tr>
        <th>Item</th>
    </tr>
   
    {% for task in tasks %}
      
    <tr>
        <td>{{task.title}}</td>
            {% if task.complete %}
            <li><del>{{task}}</del></li>
            
            {% else %}
            <li><ins>{{task}}</ins></li>
            
            {% endif %}
            <br>   
        <td><a href="{% url 'task-update' task.id %} " style="margin-left:40px" button type="button" class="btn btn-secondary">Edit</a></td> 
        <td><a href="{% url 'task' task.id %} " style="margin-left:40px" button type="button" class="btn btn-secondary">View</a></td>
        <td><a href="{% url 'task-delete' task.id %}" style="margin-left:40px" button type="button" class="btn btn-danger">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No item in list</h3>
    {% endfor %}
</table>
{% endblock %}
</div>